<div class="flex justify-between mb-8">
    <div class="w-full max-w-[40rem]">
        <h2 class="text-[2rem] font-bold">
            {{exerciseData?.name}}
        </h2>
        <p>{{exerciseData?.description}}</p>
        <img [src]="exerciseData?.thumbnailUrl" alt="" class="max-h-[19rem] object-cover">

        <div>
            <h3 class="text-[2rem] font-bold mt-4">Instruções</h3>
            <ul class="flex flex-col gap-4">
                @for(instruction of exerciseData?.instructions; track $index) {
                <li class="flex gap-2 items-center">
                    <div
                        class="bg-red rounded-md text-white p-2 px-4 text-2xl">
                        {{instruction.step}}</div>
                        <span class="text-base text-lightBlack">
                            {{instruction.description}}
                        </span>
                </li>
                }
            </ul>
        </div>

        <div>
            <h3 class="text-[2rem] font-bold mt-4">Dicas</h3>
            <ul class="flex flex-col gap-4">
                @for(instruction of exerciseData?.tips; track $index) {
                <li class="bg-lightBlack text-white rounded-md p-2">
                    <span class="">
                        {{instruction.description}}
                    </span>   
                </li>
                }
            </ul>
        </div>
    </div>

    <app-info-wrapper [info]="exerciseData"></app-info-wrapper>
</div>