<div class="flex items-center justify-center w-full h-screen fixed bg-[rgba(39,39,39,0.3)] top-0 left-0">
    <div class="flex flex-col">
        <div class="bg-lightRed p-5 rounded-lg min-w-96">
            <div class="flex items-end">
                <h1 
                class="text-2xl font-bold text-lightGray w-full text-center">
                    Criar Conta
                </h1>
                <button class="bg-lightGray rounded-full p-1" (click)="closeModal()">
                    <img src="assets/icons/close.svg" alt="fechar" class="w-6 h-6">
                </button>

            </div>
            <form class="mt-8" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-col gap-4 mb-6">
                    <div class="input-container">
                        <label for="username">Apelido</label>
                        <input type="text" id="username" formControlName="username" placeholder="apelido" required>
                    </div>
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" placeholder="email" required>
                    </div>
            
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" id="password" formControlName="password" placeholder="Senha" required>
                    </div>
                </div>
                <button type="submit" class="cursor-pointer rounded-full p-2 bg-lightGray w-full text-lightRed"
                [disabled]="loading || signupForm.invalid"
                [ngClass]="{ 'opacity-75': loading || signupForm.invalid }"
                >
                    {{ loading ? '...' : 'Cadastrar' }}
                </button>
            </form>
        
            
            <div class="text-gray mt-4">
                <span>Já tem uma conta?</span>
                <button (click)="navigateToLogin()" class="text-white font-bold ml-2">acesse</button>
            </div>
        </div>
        <div class="mt-4">
            @if(loggedSucessfully) {
                <div class="bg-lightBlack p-4 rounded-md text-lightGray">Cadastro do usuário bem succedido.</div>
            } @else if(loggedSucessfully === false) {
                <div class="bg-lightBlack p-4 rounded-md text-lightGray">Erro ao cadastrar o usuário</div>
            }
        </div>
    </div>
</div>
