<div class="relative cursor-pointer" (click)="toggleSelect()">
  <div class="flex items-center gap-4 rounded-full p-2 px-4" [ngClass]="bgColor">
    <span class="min-w-28 w-full text-nowrap">
      {{ displaySelectText() }}
    </span>
    <img [src]="arrowIcon" alt="" class="h-4 w-4" />
  </div>

  @if (optionsOpened) {
    <div
      class="absolute z-10 w-full rounded-md p-2 flex flex-col mt-1 max-h-36 overflow-y-scroll"
      [ngClass]="dropdownColor"
    >
      @for (option of options; track $index) {
        <div
          class="flex justify-between items-center p-1 hover:bg-red rounded-md transition"
          (click)="selectOption(option.value)"
        >
          <span class="text-nowrap">{{ option.label }}</span>
          <img
            [src]="checkIcon"
            alt=""
            class="h-3"
            [ngClass]="currentOption == option.value ? 'visible' : 'invisible'"
          />
        </div>
      }
    </div>
  }
</div>
