@tailwind base;
@tailwind components;
@tailwind utilities;

$red: #BA181B;
$lightRed: #E5383B;
$darkRed: #660708;
$grayRed: #A4161A;
$lightGray: #F5F3F4;
$gray: #D9D9D9;
$mediumGray: #D9D9D9;
$white: #FFFFFF;
$darkGray: #B1A7A6;
$black: #0B090A;
$lightBlack: #161A1D;

img {
    max-width: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-container label {
    font-size: 1rem;
    font-weight: 600;
    color: #F5F3F4;
}

.input-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
}