@tailwind base;
@tailwind components;
@tailwind utilities;

$red: #BA181B;
$lightRed: #E5383B;
$darkRed: #660708;
$grayRed: #A4161A;
$lightGray: #F5F3F4;
$gray: #D9D9D9;
$mediumGray: #D9D9D9;
$white: #FFFFFF;
$darkGray: #B1A7A6;
$black: #0B090A;
$lightBlack: #161A1D;

img {
    max-width: none;
}