@tailwind base;
@tailwind components;
@tailwind utilities;

$red: #ba181b;
$lightRed: #e5383b;
$darkRed: #660708;
$grayRed: #a4161a;
$lightGray: #f5f3f4;
$gray: #d9d9d9;
$mediumGray: #d9d9d9;
$white: #ffffff;
$darkGray: #b1a7a6;
$black: #0b090a;
$lightBlack: #161a1d;

@layer components {
  .input {
    outline: 2px solid $lightRed !important ;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
  }

  .text-area {
    outline: 2px solid $lightRed !important ;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
  }
}
img {
  max-width: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 1rem;
  font-weight: 600;
  color: #f5f3f4;
}

.input-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
