<div class="flex flex-col gap-4 mb-4">
    @if(searchTerm) {
        <div class="text-2xl">
            Mostrando resultados para: 
            <span class="font-bold">{{searchTerm}}</span>
        </div>
    }
    <div class="flex gap-4 items-center">
        <filter-select 
            placeholderText="Grupo Muscular" 
            [options]="muscles" 
            [currentOption]="filters.muscle"
            (changeOptionEvent)="updateFilters($event, 'muscle')"/>
        <filter-select 
            placeholderText="Equipamentos" 
            [options]="equipaments" 
            [currentOption]="filters.equipament"
        (changeOptionEvent)="updateFilters($event, 'equipament')"/>
        <button 
        (click)="clearFilters()" 
        class="flex items-center rounded-full outline gap-1  px-1  h-min outline-2 outline-lightBlack cursor-pointer"
        >
            <span class="leading-none">Clear Filters</span>
            <img [src]="closeIcon" alt="" class="h-5">
        </button>
    </div>

    <div class="grid gap-4 min-h-96" [ngClass]="(sidebarService.sidebarStatus$ | async) ? 'grid-cols-5' : 'grid-cols-6'">
        @for(exercise of exercises; track $index){
            <exercise-card [exercise]="exercise"/>
        } @empty {
            <div class="text-xl w-max mt-4">Nenhum resultados encontrado :(</div>
        }
    </div>

</div>

@if(exercises.length > 0) {
    <app-paginator [page]="page" [cardsCount]="itemsPerPage" [totalCount]="totalCount"/>
}