<div class="flex flex-col gap-4 mb-8">
    <div class="flex gap-2 bg-red text-white p-4 rounded-lg">
        <img [src]="headerData.imgUrl ?? defaultImgUrl" alt="" class="max-w-64 h-[9.5rem] object-cover rounded-md">
        <div class="flex flex-col gap-2">
            <h3 class="font-semibold">{{headerData.title}}</h3>
            <p>{{headerData.description}}</p>
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex justify-between">
            <span>{{headerData.title}}</span>
            <!-- <div class="flex gap-2">
                <span>Ordernar por</span>
                <div class="flex gap-2">
                    <button class="bg-lightBlack text-white rounded-full p-1 h-fit">Popularidade</button>
                    <button>A-Z</button>
                </div>
            </div> -->
        </div>
        <div class="grid grid-cols-4 gap-x-2 gap-y-4">
            @for (exercise of exercises; track $index) {
                <exercise-card [exercise]="exercise"></exercise-card>
            }
        </div>
    </div>

    @if(totalCount > itemsPerPage) {
        <app-paginator [totalCount]="totalCount" [cardsCount]="itemsPerPage" [page]="page"/>
    }
</div>