<div class="flex flex-col gap-4 mb-8">
  <div class="flex gap-4 bg-red text-white p-4 rounded-lg">
    <img
      [src]="headerData.imgUrl ?? defaultImgUrl"
      alt=""
      class="max-w-64 h-[9.5rem] object-cover rounded-md"
    />
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1">
        <div class="flex gap-2 items-center">
          <h3 class="font-semibold text-2xl">{{ headerData.title }}</h3>
          <span class="text-base">{{ headerData.techinicalName }}</span>
        </div>
        <p class="text-xl">{{ headerData.description }}</p>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <div class="flex flex-col">
          <h4 class="font-semibold text-xl">Ação motora</h4>
          <span>{{ headerData.motorAction }}</span>
        </div>
        <div class="flex flex-col">
          <h4 class="font-semibold text-xl">Músculos sinergistas</h4>
          <span>{{ headerData.synergistsMuscles }}</span>
        </div>
        <div class="flex flex-col">
          <h4 class="font-semibold text-xl">Músculos antagônicos</h4>
          <span>{{ headerData.antagonistsMuscles }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex justify-between">
      <span>{{ headerData.title }}</span>
      <!-- <div class="flex gap-2">
                <span>Ordernar por</span>
                <div class="flex gap-2">
                    <button class="bg-lightBlack text-white rounded-full p-1 h-fit">Popularidade</button>
                    <button>A-Z</button>
                </div>
            </div> -->
    </div>
    <div class="grid grid-cols-4 gap-x-2 gap-y-4">
      @for (exercise of exercises; track $index) {
        <exercise-card [exercise]="exercise"></exercise-card>
      }
    </div>
  </div>

  @if (totalCount > itemsPerPage) {
    <app-paginator [totalCount]="totalCount" [cardsCount]="itemsPerPage" [page]="page" />
  }
</div>
