<div class="flex flex-col overflow-hidden lightBlack bg-black" (click)="toggleSublinks()" [ngStyle]="{'background': isContentOpen ? 'rgba(11,9,10, 0.5)' : 'transparent'}">
    <a routerLink="/exercises" class="flex items-center gap-2 hover:bg-bg-red p-2 cursor-pointer w-full rounded-md"
        [ngStyle]="{'justify-content': isOpen ? 'left' : 'center'}">
        <span class="text-[1.5rem]">A</span>
        @if (isOpen) {
        <span class="text-[1.5rem]">
            <ng-content></ng-content>
        </span>

        }
    </a>
    @if (isOpen && isContentOpen) {
    <div class="flex flex-col px-4">
        @for (sublink of link?.sublinks; track $index) {
        <a [routerLink]="link?.url+'/'+sublink.url" class="hover:bg-red hover:text-gray p-2 rounded-md text-[1.2rem]">
            {{sublink.text}}>
        </a>
        }
    </div>

    }
</div>