<div class="flex flex-col justify-center overflow-hidden lightBlack rounded-sm hover:bg-red" (click)="toggleSublinks()" >
    <a routerLink="/exercises" class="flex items-center gap-2 bg-opacity-0 p-2 cursor-pointer w-full rounded-md"
        [ngStyle]="{'justify-content': isOpen ? 'left' : 'center'}">
        <img [src]="dumbellIcon" alt="" class="!w-6 !h-6" >
        @if (isOpen) {
        <span class="text-[1.5rem]">
            <ng-content></ng-content>
        </span>

        }
    </a>
    @if (isOpen && isContentOpen) {
    <div class="flex flex-col px-4">
        @for (sublink of link?.sublinks; track $index) {
        <a [routerLink]="link?.url+'/'+sublink.url" class="hover:bg-red hover:text-gray p-2 rounded-md text-[1.2rem]">
            {{sublink.text}}>
        </a>
        }
    </div>

    }
</div>