<div class="flex gap-1">
            <span class="font-normal">Ordernar por</span>

            <div class="flex gap-2">
                @for (item of options; track $index) {
                    <button class=" rounded-full text-white px-2 leading-tight transition-all" (click)="selectOption(item.value)" [ngClass]="currOption == item.value ? 'bg-lightRed' : 'bg-black'">
                        {{item.label}} 
                        @if (currOption == item.value) {
                            <ng-icon name="heroCheck"/> 
                        }
                    </button>
                }
            </div>
        </div>