<div 
    class="mb-8 flex justify-between items-center"
>
    <div class="flex flex-col relative w-fit">
        <div id="searchbar"
            class="bg-lightBlack flex gap-2 items-center px-4 py-2 rounded-lg text-lightGray overflow-hidden w-fit relative origin-bottom-left">
            <div class=" inline">
                <img [src]="searchIcon"/>
            </div>
            <input type="text" placeholder="Pesquisar"
                class="bg-[transparent] w-[14rem] focus-visible:outline-none placeholder:text-darkGray text-lightGray"
                [(ngModel)]="searchTerm" (input)="onSearchInput($event)" (keydown.enter)="submitSearch()">
        </div>

        @if (searchedResults.length > 0 || showResults) {
        <div 
           
            class="bg-lightBlack absolute top-full text-lightGray w-full z-10 mt-1 overflow-hidden flex flex-col rounded-md pb-4">
            @for (item of searchedResults; track $index) {
                <a 
                    (click)="clearResults()"
                    class="p-2 cursor-pointer hover:bg-red" 
                    [routerLink]="'exercises/'+item.id"
                >
                    {{item.name}}
                </a>
            }

        </div>
        }
    </div>


    <div>
        @if(!user) {
            <div class="flex items-center gap-4">
                <a 
                    [routerLink]="'/login'" 
                    class="p-2 bg-brightBlack font-bol text-lightGray rounded-lg px-4"
                >
                    Login
                </a>
                <a [routerLink]="'/login'" class="as">Login</a>
    
            </div>
        } @else {
            <div class="relative group">
                <div class="flex items-center gap-2 cursor-pointer">
                    <img src="assets/icons/userAvatar.svg" alt="">
                    <span>{{user.username}}</span>
                </div>
                <UserTooltip></UserTooltip>
            </div>
        }
    </div>
</div>