<div 
    class="mb-8 flex justify-between items-center"
>
    <HeaderSearchbar></HeaderSearchbar>

    <div>
        @if(!user) {
            <div class="flex items-center gap-4">
                <a 
                    [routerLink]="'/login'" 
                    class="p-2 bg-brightBlack font-bol text-lightGray rounded-lg px-4"
                >
                    Login
                </a>
                <a [routerLink]="'/login'" class="p-2 bg-lightRed font-semibold text-lightGray rounded-lg px-4">Criar Conta</a>
    
            </div>
        } @else {
            <div class="relative group">
                <div class="flex items-center gap-2 cursor-pointer">
                    <img src="assets/icons/userAvatar.svg" alt="">
                    <span>{{user.username}}</span>
                </div>
                <UserTooltip></UserTooltip>
            </div>
        }
    </div>
</div>