<div class="bg-lightBlack absolute top-full min-w-full right-0 flex-col gap-2 items-center pt-3 p-2 rounded-lg z-10 invisible group-hover:visible mt-1 text-lightGray">
    <a [routerLink]="'/profile'" class="p-2 px-1 flex gap-2 justify-between items-center rounded-lg hover:bg-brightBlack outline-lightRed hover:outline hover:outline-2">
        <span class="">Perfil</span>
        <img src="assets/icons/userAvatar.svg" alt="">
    </a>
    <button (click)="logout()" class="p-2 px-1 flex gap-2 items-center rounded-lg hover:bg-brightBlack outline-lightRed hover:outline hover:outline-2">
        <span class="">Deslogar</span>
        <img src="assets/icons/logout.svg" alt="">
    </button>
</div>